body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f4;
}

header {
    background: #1b5e20;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    padding: 0%;
    width: 100px;
    height: auto;
}

.logo-text h1 {
    margin: 0;
    font-size: 22px;
}

.logo-text p {
    margin: 0;
    font-size: 14px;
    color: #c8e6c9;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #c8e6c9;
}

.login-btn {
    background: white;
    color: #1b5e20;
    padding: 5px 10px;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #2e7d32, #9be79f);
    color: white;
}

.cta-buttons button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.cta-buttons button:hover {
    opacity: 0.9;
}

.secondary {
    background: white;
    color: #2e7d32;
}

.services {
    padding: 50px 20px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-box div {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.calculator {
    background: #e8f5e9;
    text-align: center;
    padding: 40px;
}

.calculator input {
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.notices {
    padding: 40px;
    background: white;
}

.notices ul {
    list-style: none;
    padding: 0;
}

.security {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 30px;
}

footer {
    background: #0d3b12;
    color: white;
    text-align: center;
    padding: 20px;
}

@media(max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .service-box {
        flex-direction: column;
        align-items: center;
    }
}
